<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../statics/css/styles.css">
  <link rel="icon" href="../statics/src/favicon.ico">
  <title>GUINCHOLACERDA</title>
</head>
<body>
  <h1>GUINCHOLACERDA</h1>
  <div class="container">
    <div class="menu">
      <nav>
        <button type="button" style="width: auto; margin-right: 10px;" 
          onclick="document.querySelector('iframe[name=lista-cadastro]').src='/usuarios_pg';">
          Usuários
        </button>
        <button type="button" style="width: auto; margin-right: 10px;" 
          onclick="document.querySelector('iframe[name=lista-cadastro]').src='/guinchos_pg';">
          Guinchos
        </button>
        <button type="button" style="width: auto; margin-right: 10px;" 
          onclick="document.querySelector('iframe[name=lista-cadastro]').src='/transacoes_pg';">
          Transações
        </button>
        <button type="button" style="width: auto; margin-right: 10px;" 
          onclick="document.querySelector('iframe[name=lista-cadastro]').src='/servicos_guincho_pg';">
          Serviços de Guincho
        </button>
        <button type="button" style="width: auto; margin-right: 10px;" 
          onclick="document.querySelector('iframe[name=lista-cadastro]').src='/anexos_pg';">
          Anexos
        </button>
        <button type="button" style="width: auto; margin-right: 10px;" 
          onclick="window.location.href='/logout';">
          Logoff
        </button>
      </nav>
    </div>
    <div class="content">
      <div class="iframe-container">
        <iframe name="lista-cadastro" style="border: 0;"></iframe>
      </div>
    </div>
  </div>
  <script src="../statics/js/index.js"></script>
</body>
</html>
