<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='src/favicon.ico') }}">
    <title>Login - Lacerda Guinchos</title>
</head>
<body>
    <div class="container">
        <div class="login-form">
            <img src="{{ url_for('static', filename='src/LOGOTIPO.png') }}" alt="Logo" class="logo">
            <h2>Login do Sistema</h2>
            
            <form action="{{ url_for('main_bp.login') }}" method="post">
                <input type="email" name="email" placeholder="E-mail" required>
                <input type="password" name="senha" placeholder="Senha" required>
                <button type="submit">Entrar</button>
            </form>
            
            {% if erro %}
            <div class="erro">
                {{ erro }}
            </div>
            {% endif %}
        </div>
    </div>
    <script src="{{ url_for('static', filename='js/login.js') }}"></script>
</body>
</html>
