<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../statics/css/bootstrap.min.css">
    <link rel="stylesheet" href="../statics/css/styles.css">
    
    <title>Transações</title>
</head>
<body>
    <div style="display: flex;" >
        <div style="width: 33%;">
            <h1>Cadastrar Transação</h1>
            <form id="transacaoForm" action="/cadastrar_transacao" method="post">
                <input type="hidden" id="transacao_id" name="transacao_id">
                <label for="data">Data:</label>
                <input type="date" id="data" name="data" required><br>
                <label for="valor">Valor:</label>
                <input type="number" id="valor" name="valor" step="0.01" required><br>
                <label for="categoria">Categoria:</label>
                <input type="text" id="categoria" name="categoria" required><br>
                <label for="descricao">Descrição:</label>
                <textarea id="descricao" name="descricao" required></textarea><br>
                <label for="metodo_pagamento">Método de Pagamento:</label>
                <select id="metodo_pagamento" name="metodo_pagamento" required>
                    <option value="Pix">Pix</option>
                    <option value="Cartão">Cartão</option>
                    <option value="Dinheiro">Dinheiro</option>
                </select><br>
                
                <label for="status">Status:</label>
                <select id="status" name="status" required>
                    <option value="Pago">Pago</option>
                    <option value="Pendente">Pendente</option>
                    <option value="Parcelado">Parcelado</option>
                </select><br>
                <table>
                    <tr>
                        <td><label for="anexos">Anexos:</label></td>
                        <td><input type="file" id="anexos" name="anexos[]" multiple required></td>
                    </tr>
                </table>
                <button type="submit">Cadastrar</button>
                <button type="button" id="atualizarBtn" class="btn btn-warning" style="display: none;" onclick="atualizarTransacao()">Atualizar</button>
                <button type="button" id="deletarBtn" class="btn btn-danger" style="display: none;" onclick="deletarTransacao()">Deletar</button>
            </form>
        </div>
        <div style="width: 66%;">
            <h1>Transações</h1>
            <input type="text" id="pesquisa" onkeyup="filtrarTransacoes()" placeholder="Pesquisar transações...">
            <table border="1" id="tabelaTransacoes">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Data</th>
                        <th>Valor</th>
                        <th>Categoria</th>
                        <th>Descrição</th>
                        <th>Método de Pagamento</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                    {% for transacao in transacoes %}
                    <tr onclick="projetarDadosTransacao({ transacao })">
                        <td>{{ transacao[0] }}</td>
                        <td>{{ transacao[1] }}</td>
                        <td>{{ transacao[2] }}</td>
                        <td>{{ transacao[3] }}</td>
                        <td>{{ transacao[4] }}</td>
                        <td>{{ transacao[5] }}</td>
                        <td>{{ transacao[6] }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <script src="../statics/js/bootstrap.bundle.min.js"></script>
    <script src="../statics/js/transacoes.js"></script>
</body>
</html>
